<div class="header-container">
  <span style="margin-right: 5px; margin-bottom: 12px; font-size: 11px;">{{teamSeasonSummary?.seed}}</span>
  <h2> {{teamSeasonSummary?.seasonYear}} {{teamSeasonSummary?.teamName}}
    ({{teamSeasonSummary?.gamesWon}}-{{teamSeasonSummary?.gamesLost}})</h2>
</div>
<h3>Coach: <a (click)="navigateToCoachSummary(teamSeasonSummary?.coach)" class="coach-link">
    {{teamSeasonSummary?.coach}}</a></h3>
<a [routerLink]="['/teamSeasonSummary']" [queryParams]="{ year: 2078, teamName: teamSeasonSummary?.teamName }"
  routerLinkActive="active" class="coach-link">2078</a>
<a [routerLink]="['/teamSeasonSummary']" [queryParams]="{ year: 2079, teamName: teamSeasonSummary?.teamName }"
  routerLinkActive="active" class="coach-link">2079</a>
  <a [routerLink]="['/teamSeasonSummary']" [queryParams]="{ year: 2080, teamName: teamSeasonSummary?.teamName }"
  routerLinkActive="active" class="coach-link">2080</a>

  <div class="metrics-container">
    <p>Q1 Record: {{teamSeasonSummary?.seasonMetrics?.q1Record}}</p>
    <p>Q2 Record: {{teamSeasonSummary?.seasonMetrics?.q2Record}}</p>
    <p>Q3 Record: {{teamSeasonSummary?.seasonMetrics?.q3Record}}</p>
    <p>Q4 Record: {{teamSeasonSummary?.seasonMetrics?.q4Record}}</p>
    <p>RPI Rank: {{teamSeasonSummary?.seasonMetrics?.rpi}}</p>
    <p>SOS Rank: {{teamSeasonSummary?.seasonMetrics?.sos}}</p>
    <p>SRS Rank: {{teamSeasonSummary?.seasonMetrics?.srs}}</p>
  </div>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Week</th>
        <th>Opponent</th>
        <th>Result</th>
        <th>Location</th>
        <th>Record</th>
        <th>Conf</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let game of teamSeasonSummary?.games; let i = index;">
        <tr
          [ngClass]="{'won': determineResultForStyling(game) === 'Win', 'lost': determineResultForStyling(game) === 'Loss'}">
          <td>{{i + 1}}</td>
          <td class="opponent-column"
            (click)="navigateToTeamSeasonSummary(teamSeasonSummary?.seasonYear, determineOpponent(game))">{{
            determineOpponent(game) }} ({{determineOpponentRecord(game)}})</td>
          <td>{{ determineResult(game) }}</td>
          <td>{{ determineLocation(game) }}</td>
          <td>{{ determineRecordAtGame(game, teamSeasonSummary?.games) }}</td>
          <td>{{ determineConferenceRecordAtGame(game, teamSeasonSummary?.games) }}</td>
        </tr>
        <!-- Conference tournament row -->
        <tr *ngIf="i === 33 && teamSeasonSummary && teamSeasonSummary.games && teamSeasonSummary.games.length > 34">
          <td colspan="6">Conference Tournament</td>
        </tr>
        <!-- NIT Row if Applicable-->
        <tr *ngIf="i > 33 && showNITRow(i + 1)">
          <td colspan="6">NIT</td>
        </tr>
        <!-- NT Row if Applicable-->
        <tr *ngIf="i > 33 && showFirstSixteenRow(i + 1)">
          <td colspan="6">National Tournament (First 16) - {{teamSeasonSummary?.seed}} Seed</td>
        </tr>
        <!-- NT Row if Applicable-->
        <tr *ngIf="i > 33 && showNTRow(i + 1)">
          <td colspan="6">National Tournament - {{teamSeasonSummary?.seed}} Seed</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>