.opponent-column {
    padding-right: 10px;
    padding-left: 10px;
    color: blue;
    cursor: pointer;
    font-weight: bold;
}

.won {
    background-color: #99ffb2
}

.lost {
    background-color: #ffbfb2
}

.table-container {
    display: flex;
    justify-content: center;}

th {
    padding: 8px;
}

table {
    border-spacing: 0px;
}

td {
    border-top: 1px solid black;
    /* Set border for all sides */
}

.coach-link {
    padding-right: 10px;
    font-weight: bold;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.metrics-container {
}

.metrics-container p {
    display: block !important;
    margin: 5px 0 !important; /* Adjust margin as needed */
}



