.opponent-column {
    padding-right: 10px;
    padding-left: 10px;
    color: blue;
    cursor: pointer;
    font-weight: bold;
}

.won {
    background-color: #99ffb2
}

.lost {
    background-color: #ffbfb2
}

.table-container {
    width: 525px; /* Set your desired width */
    margin: 0 auto; /* This centers the div horizontally */
}

th {
    padding: 8px;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    border-top: 1px solid black;
    /* Set border for all sides */
}

.coach-link {
    padding-right: 10px;
    font-weight: bold;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}