.coach-link {
    padding-right: 10px;
    font-weight: bold;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.table-container {
    width: 400px; /* Set your desired width */
    margin: 0 auto; /* This centers the div horizontally */
}
