.table-container {
    width: 495px;
    margin: 0 auto;
}


.link {
    padding-right: 10px;
    font-weight: bold;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.inactive-team {
    color: red;
}

table {
    width: 100%;
}