<div class="header-container">
  <h1 class="header">NCBCA-Reference</h1>
</div>
  <div class="wrapper">
    <div class="container">
      <a href="/season" routerLinkActive="active" class="year-link">2070</a>
      <a href="/season" routerLinkActive="active" class="year-link">2071</a>
      <a href="/season" routerLinkActive="active" class="year-link">2072</a>
      <a href="/season" routerLinkActive="active" class="year-link">2073</a>
      <a href="/season" routerLinkActive="active" class="year-link">2074</a>
      <a href="/season" routerLinkActive="active" class="year-link">2075</a>
      <a href="/season" routerLinkActive="active" class="year-link">2076</a>
      <a href="/season" routerLinkActive="active" class="year-link">2077</a>
      <a href="/season" routerLinkActive="active" class="year-link">2078</a>
      <router-outlet></router-outlet>
    </div>
</div>