<div class="header-container">
  <h1 class="header">NCBCA-Reference</h1>
</div>

<div class="wrapper">
  <div class="section-container">
    <h3>Team Summaries</h3>
    <div class="container">
      <a [routerLink]="['/season']" [queryParams]="{ year: 2078 }" routerLinkActive="active" class="year-link">2078</a>      
      <a [routerLink]="['/season']" [queryParams]="{ year: 2079 }" routerLinkActive="active" class="year-link">2079</a>      
    </div> 
  </div>

  <div class="section-container">
    <div class="line-container">
      <div class="line-break"></div>
      <div class="line-break"></div>
    </div> 

    <h3>Conference Summaries</h3>
    <div class="container">
      <a [routerLink]="['/conferenceSummaries']" [queryParams]="{ year: 2078 }" routerLinkActive="active" class="year-link">2078</a> 
      <a [routerLink]="['/conferenceSummaries']" [queryParams]="{ year: 2079 }" routerLinkActive="active" class="year-link">2079</a> 
    </div> 
  </div>

  <div class="section-container">
    <div class="line-container">
      <div class="line-break"></div>
      <div class="line-break"></div>
    </div> 

    <h3>Draft Summaries</h3>
    <div class="container">
      <a [routerLink]="['/draftSummary']" [queryParams]="{ year: 2078 }" routerLinkActive="active" class="year-link">2078</a> 
      <a [routerLink]="['/draftSummary']" [queryParams]="{ year: 2079 }" routerLinkActive="active" class="year-link">2079</a> 
    </div> 
  </div>

  <div class="section-container">
    <div class="line-container">
      <div class="line-break"></div>
      <div class="line-break"></div>
    </div> 

    <h3>All-Time Rankings</h3>
    <div class="container">
      <a [routerLink]="['/allTimeProgramRankings']" routerLinkActive="active" class="year-link">Teams</a> 
      <a [routerLink]="['/allTimeCoachRankings']" routerLinkActive="active" class="year-link">Coaches</a> 
    </div> 
  </div>


  <div class="section-container">
    <div class="line-container">
      <div class="line-break"></div>
      <div class="line-break"></div>
    </div> 

    <h3>Directory</h3>
    <div class="container">
      <a [routerLink]="['/coachDirectory']" routerLinkActive="active" class="year-link">Coaches</a> 
      <a [routerLink]="['/teamDirectory']" routerLinkActive="active" class="year-link">Teams</a> 
      <a [routerLink]="['/conferenceDirectory']" routerLinkActive="active" class="year-link">Conferences</a> 
    </div> 
    <div class="line-container">
      <div class="line-break"></div>
      <div class="line-break"></div>
    </div> 
  </div>
  <div class="router-outlet-container">
    <router-outlet></router-outlet>
  </div>
</div>
