<a [routerLink]="['/conferenceSummary']" [queryParams]="{ season: 2078, conferenceName: conferenceSummary?.conferenceName }"routerLinkActive="active" class="year-link">2078</a> 
<a [routerLink]="['/conferenceSummary']" [queryParams]="{ season: 2079, conferenceName: conferenceSummary?.conferenceName }" routerLinkActive="active" class="year-link">2079</a> 
<a [routerLink]="['/conferenceSummary']" [queryParams]="{ season: 2080, conferenceName: conferenceSummary?.conferenceName }" routerLinkActive="active" class="year-link">2080</a> 
<br/>
<div class="conference-summary-container">
    <p>
      <strong>
        {{conferenceSummary?.season}} {{conferenceSummary?.conferenceName}}
      </strong>
    </p>
    <table>
      <thead>
        <tr>
          <th>Team</th>
          <th>Record</th>
          <th>Conf</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let team of conferenceSummary?.conferenceRecordList; let i = index;">
          <td>{{i + 1}}. <a (click)="navigateToTeamSeasonSummary(team.teamName, team.season)" class="coach-link">{{team.teamName}}</a></td>
          <td>{{team.overallRecord}}</td>
          <td>{{team.conferenceRecord}}</td>
        </tr>
      </tbody>
    </table>
  </div>