<div class="active-conference-container">
    <span class="active-conference-text">
        American Athletic Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text">
        Atlantic Coast Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text">
        Big East Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text">
        Big Sedici Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text">
        B1G Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text">
        Mountain West Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text">
        Pacific Coast Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text">
        Southeastern Conference
    </span>
</div>
