<div class="active-conference-container">
    <span class="active-conference-text" (click)="navigateToConferenceSummary('American Athletic Conference')">
        American Athletic Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text" (click)="navigateToConferenceSummary('Atlantic Coast Conference')">
        Atlantic Coast Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text" (click)="navigateToConferenceSummary('Big East Conference')">
        Big East Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text" (click)="navigateToConferenceSummary('Big Sedici Conference')">
        Big Sedici Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text" (click)="navigateToConferenceSummary('B1G Conference')">
        B1G Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text" (click)="navigateToConferenceSummary('Mountain West Conference')">
        Mountain West Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text" (click)="navigateToConferenceSummary('Pacific Coast Conference')">
        Pacific Coast Conference
    </span>
</div>
<div class="active-conference-container">
    <span class="active-conference-text" (click)="navigateToConferenceSummary('Southeastern Conference')">
        Southeastern Conference
    </span>
</div>
