
.coach-link {
    font-weight: bold;
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

th {
    cursor: pointer;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #c3d9ff;
}

.table-container {
    overflow-y: auto;
    height: 500px;
}