<div class="table-container">
<table>
<thead>
  <tr>
    <th>Team</th>
    <th (click)="sortSeasonsByRecord()">Record</th>
    <th>Coach</th>
    <th>Conference</th>
    <th (click)="sortSeasonsByRpi()">RPI</th>
    <th (click)="sortSeasonsBySOS()">SOS</th>
    <th (click)="sortSeasonsBySRS()">SRS</th>
    <th>Q1</th>
    <th>Q2</th>
    <th>Q3</th>
    <th>Q4</th>
    <th>NT Seed</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let season of seasons">
    <td class="coach-link" (click)="navigateToTeamSummary(season.teamName, season.seasonYear)">
      {{ season.teamName }}</td>
    <td>{{season.gamesWon}}-{{season.gamesLost}}</td>
    <td>
      <a (click)="navigateToCoachSummary(season.coach)" class="coach-link">{{ season.coach }}</a>
    </td>
    <td>{{season.conferenceName}}</td>
    <td>{{determineRPIRank(season)}}</td>
    <td>{{determineSOSRank(season)}}</td>
    <td>{{determineSRSRank(season)}}</td>
    <td>{{season.seasonMetrics.q1Record}}</td>
    <td>{{season.seasonMetrics.q2Record}}</td>
    <td>{{season.seasonMetrics.q3Record}}</td>
    <td>{{season.seasonMetrics.q4Record}}</td>
    <td>{{season.ntSeed}}</td>
  </tr>
</tbody>
</table>
</div>